{% extends '@KikwikApiAdmin/layout.html.twig' %}

{% block title %}{{ endpointPool.apiDocumentation.title }} Admin{% endblock %}

{% block body %}


    <ul>
        {% for entrypoint in endpointPool.entryPoint.links %}
            <li><a href="{{ path('kikwik_api_admin_list',{'resource':entrypoint.link|url_encode}) }}">{{ entrypoint.resourceName }}</a></li>
        {% endfor %}
    </ul>


    {{ endpointPool.debug }}
{% endblock %}