<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <title>{% block title %}Dashboard - Ace Admin{% endblock %}</title>
</head>
<body>
    {{ render(controller('kikwik_api_admin.controller.dashboard_controller::sideMenu')) }}

    {% block body %}{% endblock %}
</body>
</html>